
<div class="animate__animated animate__fadeIn animate__faster">
    <p>Por capital</p>
    <hr>
    
    <div class="div">
        <div class="col">
           <app-pais-input
            (onEnter)=buscar($event)
            placeholder="buscar Capítal"
            ></app-pais-input>
        </div>
    </div>
    <hr>
</div>





<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino
</div>

<div *ngIf="paises.length > 0" class="row">
    <app-pais-tabla  [paises]="paises"></app-pais-tabla>
</div>
